.logo-ptit {
  float: left;
  margin: 0 30px 0 20px;
}

.cluster {
  box-sizing: border-box;
  float: right;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #F2F2F2;
  padding: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.dropdown-menu a {
  white-space: normal;
  font-size: 12px;
}

.dropdown-item {
  padding: 15px;
}

.navbar {
  float: left;

}

.fw-500 {
  font-weight: 500 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.nav-item:hover .nav-link {
  color: #d30000 !important;
  text-decoration: underline;
  text-decoration-color: #d30000;
}

.row>.col-2-4 {
  width: 20%;
}

.hover-text-decoration:hover {
  text-decoration: underline !important;
  text-decoration-color: #a80000 !important;
  text-decoration-thickness: 1px !important;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.text-d3 {
  color: #d30000 !important;
}